# Python virtual environment
ble-env/

# Python cache files
__pycache__/
*.pyc

# Log files
*.log

# Temporary files
*.tmp

# Project specific
ble_log.csv   # don't sync the log file (contains specific MAC addresses)
counts.csv
logs/
../../webhook_server.py
display_rotation/pages/*
!display_rotation/pages/.gitkeep
!display_rotation/pages/rotator.html
