# Python virtual environment
ble-env/

# Python cache files
__pycache__/
*.pyc

# Log files
*.log

# Temporary files
*.tmp

# Project specific
ble_log.csv   # don't sync the log file (contains specific MAC addresses)
ble_log.csv
counts.csv
logs/
../../webhook_server.py
